body {
  font-family: Chalkduster, 'Comic Sans MS', 'Fuzzy Bubbles', roboto;
  color: midnightblue;
}





.container {
  display: flex;
  flex-direction: column;
}



.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: mediumseagreen;
  padding: 10px;

}

.navbar div {
  font-size: x-large;

}

.navinfo {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.two {
  background-color: mediumseagreen;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  
}



.two div {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: 50px;
  margin-top: 100px;

}

#stumpy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#stumpy p {
  margin-top: 0px;
  text-align: center;
}

.hero-info {
  color: white;
}

.button {
  background-color: #3882F6;
  border: 2px solid white;
  color: white;
  width: 100px;
  font-weight: 900;
  border-radius: 10px;
  padding: 10px;
}

img {
  width: 300px;
  height: auto;
  border-radius: 40px;
}


.three {
  background-color: moccasin;
}

.three h2 {
  text-align: center;
  color: crimson;
}

.three .pics {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.pics p {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 250px;
}

/* #brando {
  max-width: 200px;
  text-align: center;

} */


.four {
  background-color: white;
  height: 150px;
  text-align: center;
  margin: 50px;
}

.five {
  background-color: moccasin;
  height: 300px;
  display: flex;

}

.action {
  color: aliceblue;
  background-color: #3882F6;
  margin: 50px;
  padding: 10px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 20px;
}

.six {
  background-color: mediumseagreen;
  height: 50px;
  text-align: center;
  color: crimson;
}




